<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link href="./camisas.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Concexion con Google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--Concexion con Google fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <!--Conexion con Google fonts-->
  <title>Camisas</title>
</head>

<body>
  <h2 class="oswald">APOYA A TU SELECCION FAVORITA</h2> <!--Titulo de la pagina-->

  <div class="container-fluid movimiento"> <!--Contenedor de las tarjetas-->
    <div class="row flex-row flex-nowrap">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card tarjetas" style="width: 18rem;"><!--Tarjeta Mexico-->
          
          <img class="playera"
            src="https://www.innovasport.com/medias/1200Wx1200H-NEW-media-gallery-000000000000394890-01-20251103134410.jpg?context=bWFzdGVyfGltYWdlc3wxMzM5ODN8aW1hZ2UvanBlZ3xhRE01TDJoaE5pOHhOVFUwTWpBME1ESXpNVGsyTmk4eE1qQXdWM2d4TWpBd1NGOU9SVmRmYldWa2FXRmZaMkZzYkdWeWVWOHdNREF3TURBd01EQXdNREF6T1RRNE9UQmZNREZmTWpBeU5URXhNRE14TXpRME1UQXVhbkJufDQ2MGM2MjMyN2JiNDU3ODY2MmEzMDdjZTY3YjdkYjdmZGE1NDc1NTE3ZWE0NTFhZDI5YzU1MDAzOTk1NDI2NGE"
            class="card-img-top" alt="Mexico">
          <div class="card-body">
            <h5 class="card-title">MEXICO</h5>
            <a href="#" class="btn btn-buy" id="btnBuy1">Agregar al carrito</a>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card tarjetas" style="width: 18rem;"> <!--Tarjeta Francia-->
          <img class="playera" src="https://site-product.innovasport.com/img-test/FZ9199-492/FZ9199-492_1-1200x1200.jpg"
            class="card-img-top" alt="Francia">
          <div class="card-body">
            <h5 class="card-title">FRANCIA</h5>
            <a href="#" class="btn btn-buy" id="btnBuy2">Agregar al carrito</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card tarjetas" style="width: 18rem;"> <!--Tarjeta Alemania-->
          <img class="playera"
            src="https://www.innovasport.com/medias/1200Wx1200H-NEW-media-gallery-000000000000394906-01-20251120115830.jpg?context=bWFzdGVyfGltYWdlc3w3MzU4OXxpbWFnZS9qcGVnfGFHVTVMMmd4Tnk4eE5UYzRNekV4TURVd09EVTNOQzh4TWpBd1YzZ3hNakF3U0Y5T1JWZGZiV1ZrYVdGZloyRnNiR1Z5ZVY4d01EQXdNREF3TURBd01EQXpPVFE1TURaZk1ERmZNakF5TlRFeE1qQXhNVFU0TXpBdWFuQm58YjYwZTM2YTIzMGYyZTM4Yjg1NWZhZjU1NDU5MTMxZmJlYWYwYzFmNzVjM2MxZWNmNjllYTdmNTg2ZDk2ZDUyMQ"
            class="card-img-top" alt="Alemania">
          <div class="card-body">
            <h5 class="card-title">ALEMANIA</h5>
            <a href="#" class="btn btn-buy" id="btnBuy3">Agregar al carrito</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card tarjetas" style="width: 18rem;"> <!--Tarjeta Brasil-->
          <img class="playera" src="https://site-product.innovasport.com/img-test/FZ9194-718/FZ9194-718_1-1200x1200.jpg"
            class="card-img-top" alt="Brasil">
          <div class="card-body">
            <h5 class="card-title">BRASIL</h5>
            <a href="#" class="btn btn-buy" id="btnBuy4">Agregar al carrito</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card tarjetas" style="width: 18rem;"><!--Tarjeta España-->
          <img class="playera"
            src="https://www.innovasport.com/medias/1200Wx1200H-NEW-media-gallery-000000000000394900-01-20251103141110.jpg?context=bWFzdGVyfGltYWdlc3w3MjczNHxpbWFnZS9qcGVnfGFHUTJMMmhqT0M4eE5UVTBNamN5TURnMU5qQTVOQzh4TWpBd1YzZ3hNakF3U0Y5T1JWZGZiV1ZrYVdGZloyRnNiR1Z5ZVY4d01EQXdNREF3TURBd01EQXpPVFE1TURCZk1ERmZNakF5TlRFeE1ETXhOREV4TVRBdWFuQm58YmE0ZWJjNzIzYzhiNGI2ODJmYTgwNWMxNzI0ZjYzZDYwNmU2NzA0MGIxYTgwMDEzZDZiZDY5ZjYwMTE3NDJkNA"
            class="card-img-top" alt="España">
          <div class="card-body">
            <h5 class="card-title">ESPAÑA</h5>
            <a href="#" class="btn btn-buy" id="btnBuy5">Agregar al carrito</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card tarjetas" style="width: 18rem;"><!--Tarjeta Colombia-->
          <img class="playera"
            src="https://www.innovasport.com/medias/1200Wx1200H-NEW-media-gallery-000000000000394856-01-20251029114530.jpg?context=bWFzdGVyfGltYWdlc3wxMDkxNzF8aW1hZ2UvanBlZ3xhREJtTDJoak1TOHhOVFExTnpJd056RTFOamMyTmk4eE1qQXdWM2d4TWpBd1NGOU9SVmRmYldWa2FXRmZaMkZzYkdWeWVWOHdNREF3TURBd01EQXdNREF6T1RRNE5UWmZNREZmTWpBeU5URXdNamt4TVRRMU16QXVhbkJufDlmM2E5MDRiYWVjMDVlZjk2NjhjMjFjZDRkOTY2OTJhYTc4MjlhNTYwNDY4NDE5YjUwMDUxMWQ0ZTJiMzYzYmY"
            class="card-img-top" alt="Colombia">
          <div class="card-body">
            <h5 class="card-title">COLOMBIA</h5>
            <a href="#" class="btn btn-buy" id="btnBuy6">Agregar al carrito</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card tarjetas" style="width: 18rem;"><!--Tarjeta Argentina-->
          <img class="playera"
            src="https://www.innovasport.com/medias/1200Wx1200H-NEW-media-gallery-000000000000394839-01-20251103145610.jpg?context=bWFzdGVyfGltYWdlc3w3NDg2NXxpbWFnZS9qcGVnfGFHSmtMMmhqTlM4eE5UVTBNelF4TURNNU16RXhPQzh4TWpBd1YzZ3hNakF3U0Y5T1JWZGZiV1ZrYVdGZloyRnNiR1Z5ZVY4d01EQXdNREF3TURBd01EQXpPVFE0TXpsZk1ERmZNakF5TlRFeE1ETXhORFUyTVRBdWFuQm58MmU1MmQxNzdjYTFlNTE3Mzk4YTgxNzliNTMzZGRmZDkzNzg4MTdjNDc4OWNjY2RhOTg1ZWFlZTczNGMzNTRhMQ"
            class="card-img-top" alt="Argentina">
          <div class="card-body">
            <h5 class="card-title">ARGENTINA</h5>
            <a href="#" class="btn btn-buy" id="btnBuy7">Agregar al carrito</a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>