<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page Deportes</title>

    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="navbar.css">
</head>
<body>

    <header>
        <nav class="navbar">

            <!-- Logo -->
            <div class="logo">
                <img src="logo/logo_sportstore.jpeg" alt="Logo">
                <span>ATHLETIX</span>
            </div>

            <!-- Buscador -->
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Buscar deportes, productos...">
            </div>

            <!-- Menú -->
            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Fútbol</a></li>
                <li><a href="#">Basquetbol</a></li>
                <li><a href="#">Fitness</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <!-- Iconos -->
            <div class="icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

        </nav>
    </header>

</body>
</html>