<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Full Cover</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesVideo.css">
</head>
<body>

    <div class="video-wrapper">
        <video autoplay muted loop playsinline poster="tu-imagen.jpg">
            <source src="https://brand.assets.adidas.com/video/upload/f_auto:video,q_auto/if_w_gt_1920,w_1920/FY_26_BRAND_WC_MYTH_16x9_30_CLEAN_a405ee1e2b.mp4" type="video/mp4">
            Tu navegador no soporta video.
        </video>
    </div>

</body>
</html>